*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf7e6;
}

.card {
  width: 18.75rem;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.productName {
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
}